/* These few styles are more or less required to make the plugin work */
.scribe-plugin-link-tooltip-hidden {
  visibility: hidden;
}

.scribe-plugin-link-tooltip {
  z-index: 1;
  white-space: nowrap;
}

.scribe-plugin-link-tooltip > * {
  display: inline-block;
}

.scribe-plugin-link-tooltip-state-edit .scribe-plugin-link-tooltip-show-on-view,
.scribe-plugin-link-tooltip-state-view .scribe-plugin-link-tooltip-show-on-edit {
  display: none;
}

/* Everything below is just to make the example look not totally ugly */
.scribe-plugin-link-tooltip {
  background: darkslategrey;
  transform: translateY(14px);
}

.scribe-plugin-link-tooltip::after {
  margin-left: -14px;
  position: absolute;
  bottom: 99%;
  left: 50%;
  content: "";
  height: 0;
  width: 0;
  border: 14px solid transparent;
  border-bottom-color: darkslategrey;
}

.scribe-plugin-link-tooltip,
.scribe-plugin-link-tooltip * {
  color: snow;
}

.scribe-plugin-link-tooltip > * {
  background: transparent;
}

.scribe-plugin-link-tooltip input,
.scribe-plugin-link-tooltip a {
  padding: .5em;
}

.scribe-plugin-link-tooltip input,
.scribe-plugin-link-tooltip button {
  border: 0;
  outline: 0;
}

.scribe-plugin-link-tooltip button {
  cursor: pointer;
}

.scribe-plugin-link-tooltip a {
  margin-bottom: -0.7em;
  display : inline-block;
  max-width: 12em;
  overflow: hidden;
  text-overflow: ellipsis;
}
